@import url('./fonts.css');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;
}

body,
.snake {
    background: #414141;
}

#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20,20px);
    margin: 5px;
}

.game-border-1 {
    border: #595f43 solid 10px;
    border-radius: 30px;
    box-shadow: 0 0 0 10px #595959;
}

.game-border-2 {
    border: #abb78a solid 5px;
    border-radius: 26px;
    box-shadow: 0 0 0 10px #abb78a;
}

.game-border-3 {
    border: #8b966c solid 30px;
    border-radius: 20px;
    box-shadow: 0 0 0 5px #8b966c;
}

.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color: #abb78a;
}

#highScore {
    color: #d8ddca;
    display: none;
}

#score,
#highScore {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

.game-border-3, 
#logo {
    background: #c4cfa3;
}

.snake {
    background: #5a5a5a 1px dotted;
}

.food {
    background: #dedede;
    border:  #999 5px solid;
}

#logo {
    position: absolute;
}

#instruction-text {
    position: absolute;
    margin-top: 280px;
    z-index: 1;
    color: #333;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
}